.App {
  &__content {
    &-img {
      visibility: hidden;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 20px;

      &--active {
        visibility: visible;
      }
    }

    &-element {
      display: flex;
      align-items: center;
      padding: 15px 10px;

      &--right {
        justify-content: flex-end;
        background-color: rgba(0, 0, 255, 0.03);
      }
    }

    &-message {
      margin: 0;
    }

    &-date {
      font-size: 12px;
      color: gray;
      margin: 0;
    }
  }
}
